{
  "openapi": "3.0.3",
  "info": {
    "title": "Drivemond API Documentation",
    "description": "Auto-generated API docs for Driver, Customer, and Admin endpoints.\n\n- Customer and Driver paths are prefixed with `/api/` (Laravel API routes).\n- Admin paths are web routes served directly under the domain.",
    "version": "1.0.0",
    "contact": {
      "name": "Drivemond Support"
    }
  },
  "servers": [
    {
      "url": "https://zerinexpress.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Customer",
      "description": "Customer / User mobile app APIs"
    },
    {
      "name": "Driver",
      "description": "Driver mobile app APIs"
    },
    {
      "name": "Admin",
      "description": "Admin panel APIs"
    },
    {
      "name": "Shared",
      "description": "Shared or common APIs"
    }
  ],
  "paths": {
    "/api/customer/auth/check": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::KS2lJx7n26EqkwLY - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@userExistOrNotChecking",
        "operationId": "Customer_generated::KS2lJx7n26EqkwLY_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/external-login": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::Nh9CNj1lHF1UzJqT - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@customerLoginFromMart",
        "operationId": "Customer_generated::Nh9CNj1lHF1UzJqT_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/external-registration": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::HZ9XQBT6Gb3hL9HJ - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@customerRegistrationFromMart",
        "operationId": "Customer_generated::HZ9XQBT6Gb3hL9HJ_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/firebase-otp-verification": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::KAKns3BIWgzm9ZRq - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@firebaseOtpVerification",
        "operationId": "Customer_generated::KAKns3BIWgzm9ZRq_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/forget-password": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::6GOcFALlTLnepEeK - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@forgetPassword",
        "operationId": "Customer_generated::6GOcFALlTLnepEeK_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/login": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "customer-login - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@login",
        "operationId": "Customer_customer-login_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/otp-login": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::sUlK4ZwM8MbTELHs - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@otpLogin",
        "operationId": "Customer_generated::sUlK4ZwM8MbTELHs_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/otp-verification": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::5rATRKileBa7n9QP - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@otpVerification",
        "operationId": "Customer_generated::5rATRKileBa7n9QP_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/registration": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "customer-registration - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@register",
        "operationId": "Customer_customer-registration_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/registration-from-otp": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::yuovN3OO6nEEqmLF - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@registrationFromOtp",
        "operationId": "Customer_generated::yuovN3OO6nEEqmLF_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/reset-password": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::4KnfTavhVLkkWl43 - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@resetPassword",
        "operationId": "Customer_generated::4KnfTavhVLkkWl43_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/send-otp": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::EYP1g9g8Qf6AoXNY - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@sendOtp",
        "operationId": "Customer_generated::EYP1g9g8Qf6AoXNY_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/social-login": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::BLdQ0k0pvwirO4UN - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@customerSocialLogin",
        "operationId": "Customer_generated::BLdQ0k0pvwirO4UN_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/auth/update-data": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::URRB3UCclZ4DHtRe - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@updateData",
        "operationId": "Customer_generated::URRB3UCclZ4DHtRe_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/update/fcm-token": {
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::Vuv6kHTNdJouc3RZ - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@updateFcmToken",
        "operationId": "Customer_generated::Vuv6kHTNdJouc3RZ_PUT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/check": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::dPRnzvQkV96UqYY5 - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@userExistOrNotChecking",
        "operationId": "Driver_generated::dPRnzvQkV96UqYY5_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/firebase-otp-verification": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::GNx0K19xXJgBXHDF - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@firebaseOtpVerification",
        "operationId": "Driver_generated::GNx0K19xXJgBXHDF_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/forget-password": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::nisvgtKCBwgXkvfy - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@forgetPassword",
        "operationId": "Driver_generated::nisvgtKCBwgXkvfy_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/login": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "driver-login - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@login",
        "operationId": "Driver_driver-login_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/otp-verification": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::qI5DnsVCGsoTiB2R - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@otpVerification",
        "operationId": "Driver_generated::qI5DnsVCGsoTiB2R_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/registration": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "driver-registration - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@register",
        "operationId": "Driver_driver-registration_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/registration-from-otp": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::3YNekPhcUD5zqSYv - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@registrationFromOtp",
        "operationId": "Driver_generated::3YNekPhcUD5zqSYv_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/reset-password": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::g2XqWKSuwobCwwdR - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@resetPassword",
        "operationId": "Driver_generated::g2XqWKSuwobCwwdR_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/send-otp": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::vnseCMPNsL4w2u6q - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@sendOtp",
        "operationId": "Driver_generated::vnseCMPNsL4w2u6q_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/auth/update-data": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::577kEqcRVzWJDAYS - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@updateData",
        "operationId": "Driver_generated::577kEqcRVzWJDAYS_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/update/fcm-token": {
      "put": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::BnEeNOQtbHgpkTwl - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@updateFcmToken",
        "operationId": "Driver_generated::BnEeNOQtbHgpkTwl_PUT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/change-password": {
      "post": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::RwBihV4uRRHY3QFU - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@changePassword",
        "operationId": "Shared_generated::RwBihV4uRRHY3QFU_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/delete": {
      "post": {
        "tags": [
          "Shared"
        ],
        "summary": "delete - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@delete",
        "operationId": "Shared_delete_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/logout": {
      "post": {
        "tags": [
          "Shared"
        ],
        "summary": "logout - Modules\\AuthManagement\\Http\\Controllers\\Api\\AuthController@logout",
        "operationId": "Shared_logout_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/configurations": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::vC7N5RjfzTecAemE - Modules\\BusinessManagement\\Http\\Controllers\\Api\\ConfigurationController@getConfiguration",
        "operationId": "Shared_generated::vC7N5RjfzTecAemE_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/calculate-distance": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::4rt4clcZ5B3xZD24 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@calculateDistance",
        "operationId": "Customer_generated::4rt4clcZ5B3xZD24_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/cancellation-reason-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::xtWg3SuxyXCTN6fq - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@cancellationReasonList",
        "operationId": "Customer_generated::xtWg3SuxyXCTN6fq_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/distance-api": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::qz6KhhGZtnzjmscw - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@distanceApi",
        "operationId": "Customer_generated::qz6KhhGZtnzjmscw_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/geocode-api": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::0g8JotKOemEMdkg9 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@geocodeApi",
        "operationId": "Customer_generated::0g8JotKOemEMdkg9_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/get-payment-methods": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::eqcuhw9qpZ1ISPKT - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@getPaymentMethods",
        "operationId": "Customer_generated::eqcuhw9qpZ1ISPKT_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/get-routes": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::gddUtQl3hSKjaT9S - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@getRoutes",
        "operationId": "Customer_generated::gddUtQl3hSKjaT9S_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/get-zone-id": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::UFB0wftHNLAmz7T7 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@getZone",
        "operationId": "Customer_generated::UFB0wftHNLAmz7T7_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/other-emergency-contact-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::KVcSb7g9yyHogCjw - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@otherEmergencyContactList",
        "operationId": "Customer_generated::KVcSb7g9yyHogCjw_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/parcel-cancellation-reason-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::LUzijqOiztTqWqiZ - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@parcelCancellationReasonList",
        "operationId": "Customer_generated::LUzijqOiztTqWqiZ_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/parcel-refund-reason-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::LdPjUXIgW5wepeRp - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@parcelRefundReasonList",
        "operationId": "Customer_generated::LdPjUXIgW5wepeRp_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/place-api-autocomplete": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::mwNE0ioPT1eATewn - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@placeApiAutocomplete",
        "operationId": "Customer_generated::mwNE0ioPT1eATewn_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/place-api-details": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::2ka0TtdSV1YLHIlR - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@placeApiDetails",
        "operationId": "Customer_generated::2ka0TtdSV1YLHIlR_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/safety-alert-reason-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::3r2Bke8dVsIN4sHq - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@safetyAlertReasonList",
        "operationId": "Customer_generated::3r2Bke8dVsIN4sHq_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/config/safety-precaution-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::abLYcCNNtGZ0JLMy - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@safetyPrecautionList",
        "operationId": "Customer_generated::abLYcCNNtGZ0JLMy_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/configuration": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::QWkkZaUHXSPPzk5o - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@configuration",
        "operationId": "Customer_generated::QWkkZaUHXSPPzk5o_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/pages/{page_name}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::pLfohYmddmkDUrS1 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@pages",
        "operationId": "Customer_generated::pLfohYmddmkDUrS1_GET",
        "parameters": [
          {
            "name": "page_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/cancellation-reason-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::nXWLFvhviUaBDydD - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@cancellationReasonList",
        "operationId": "Driver_generated::nXWLFvhviUaBDydD_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/distance-api": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::mxoFZvxAPf2gDt8S - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@distanceApi",
        "operationId": "Driver_generated::mxoFZvxAPf2gDt8S_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/geocode-api": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::Na34EkBG64cHlEzI - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@geocodeApi",
        "operationId": "Driver_generated::Na34EkBG64cHlEzI_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/get-payment-methods": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::jeYXbiZDbFhKjfng - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@getPaymentMethods",
        "operationId": "Driver_generated::jeYXbiZDbFhKjfng_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/get-zone-id": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::iGxCypJkniYsh8Ft - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@getZone",
        "operationId": "Driver_generated::iGxCypJkniYsh8Ft_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/other-emergency-contact-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::2GpPdzvfiNDykZKE - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@otherEmergencyContactList",
        "operationId": "Driver_generated::2GpPdzvfiNDykZKE_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/parcel-cancellation-reason-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::mcB4eAMXPurDMGYR - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@parcelCancellationReasonList",
        "operationId": "Driver_generated::mcB4eAMXPurDMGYR_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/place-api-autocomplete": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::RDsYe0WGo6KZxNMF - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@placeApiAutocomplete",
        "operationId": "Driver_generated::RDsYe0WGo6KZxNMF_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/place-api-details": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::llYxIaAbLRR5XJj8 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@placeApiDetails",
        "operationId": "Driver_generated::llYxIaAbLRR5XJj8_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/predefined-question-answer-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::hrbnqpJdaUspBY6k - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@predefinedQuestionAnswerList",
        "operationId": "Driver_generated::hrbnqpJdaUspBY6k_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/safety-alert-reason-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::gfOOLCYG5YvjLzEp - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@safetyAlertReasonList",
        "operationId": "Driver_generated::gfOOLCYG5YvjLzEp_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/config/safety-precaution-list": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::JGk4SRrkcVfnZPt0 - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@safetyPrecautionList",
        "operationId": "Driver_generated::JGk4SRrkcVfnZPt0_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/configuration": {
      "get": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::WKi9LlzcotjsRRKZ - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@configuration",
        "operationId": "Driver_generated::WKi9LlzcotjsRRKZ_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/driver/get-routes": {
      "post": {
        "tags": [
          "Driver"
        ],
        "summary": "generated::iEKVQc4ZFCR9Htqy - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Driver\\ConfigController@getRoutes",
        "operationId": "Driver_generated::iEKVQc4ZFCR9Htqy_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/get-external-configurations": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::PPZGjnStawx40awQ - Modules\\BusinessManagement\\Http\\Controllers\\Api\\ConfigurationController@getExternalConfiguration",
        "operationId": "Shared_generated::PPZGjnStawx40awQ_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/store-configurations": {
      "post": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::lO8XqqEsylAcN9Kb - Modules\\BusinessManagement\\Http\\Controllers\\Api\\ConfigurationController@updateConfiguration",
        "operationId": "Shared_generated::lO8XqqEsylAcN9Kb_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/location/save": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "generated::FQvJaWZj5H7vaoJC - Modules\\BusinessManagement\\Http\\Controllers\\Api\\Customer\\ConfigController@userLastLocation",
        "operationId": "Customer_generated::FQvJaWZj5H7vaoJC_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/chat/channel-list": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::caDnyGRENHFs2XYJ - Modules\\ChattingManagement\\Http\\Controllers\\Api\\ChattingController@channelList",
        "operationId": "Shared_generated::caDnyGRENHFs2XYJ_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/chat/conversation": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::130TpQz0R0mR9njd - Modules\\ChattingManagement\\Http\\Controllers\\Api\\ChattingController@conversation",
        "operationId": "Shared_generated::130TpQz0R0mR9njd_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/chat/create-channel": {
      "put": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::e9AcPCIf3usRW2xv - Modules\\ChattingManagement\\Http\\Controllers\\Api\\ChattingController@createChannel",
        "operationId": "Shared_generated::e9AcPCIf3usRW2xv_PUT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "See source controller for exact fields"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/chat/find-channel": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "generated::6KNSicv7pbAUUzUu - Modules\\ChattingManagement\\Http\\Controllers\\Api\\ChattingController@findChannel",
        "operationId": "Shared_generated::6KNSicv7pbAUUzUu_GET",
[...]
